# Samples cleaning

This task will fetch the raw data from the remote database given a SQL query file.

## Import libraries

In [1]:
import sys

sys.path.append('..')

In [2]:
import os
import gc
import yaml
import json
import requests
import numpy as np
import pandas as pd

from pymongo import MongoClient

from utils import get_files, memory_usage, \
correct_encoding, update_page_metadata

## Load the data

In [3]:
BASE_PATH = '../../'

CONFIG_DIR = os.path.join(BASE_PATH, 'config')
STORAGE_DIR = os.path.join(BASE_PATH, 'storage')
DATA_DIR = os.path.join(BASE_PATH, 'data')

config = yaml.load(open(os.path.join(CONFIG_DIR, 'env.yml')),
                   Loader=yaml.FullLoader)

In [4]:
model = 'samples'
model_storage = os.path.join(STORAGE_DIR, model)

if not os.path.exists(model_storage):
    os.makedirs(model_storage)
    
client = MongoClient('mongodb://{}:{}@{}:{}'.format(config['MONGO_USERNAME'], config['MONGO_PASSWORD'],
                                                    config['MONGO_HOST'], config['MONGO_PORT']))
metadata_db = client[config['MONGO_DATABASE']]

model_metadata = metadata_db[model]

model_metadata.delete_many({})
model_metadata.insert_one({'pages': []})

In [5]:
csv_files = get_files(os.path.join(DATA_DIR, 'raw', model, '*.csv'))

In [6]:
if not csv_files:
    raise FileNotFoundError('Couldn\'t find any csv files! Please make sure the filepath exists')

In [7]:
df = pd.read_csv(csv_files[0], sep=';', parse_dates=['timestamp'], nrows=100)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 38 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   id                    100 non-null    int64
 1   device_id             100 non-null    int64
 2   timestamp             100 non-null    datetime64[ns]
 3   battery_state         100 non-null    object
 4   battery_level         100 non-null    float64
 5   timezone              100 non-null    object
 6   country_code          100 non-null    object
 7   memory_active         100 non-null    int64
 8   memory_inactive       100 non-null    int64
 9   memory_free           100 non-null    int64
 10  memory_user           100 non-null    int64
 11  charger               100 non-null    object
 12  health                100 non-null    object
 13  voltage               100 non-null    float64
 14  temperature           100 non-null    float64
 15  usage                 100 non-null    float64
 16  up_time               100 non-null    int64
 17  sleep_time            100 non-null    int64
 18  network_status        100 non-null    object
 19  network_type          100 non-null    object
 20  mobile_network_type   100 non-null    object
 21  mobile_data_status    100 non-null    object
 22  mobile_data_activity  100 non-null    object
 23  wifi_status           100 non-null    object
 24  wifi_signal_strength  100 non-null    int64
 25  wifi_link_speed       100 non-null    int64
 26  screen_on             100 non-null    int64
 27  screen_brightness     100 non-null    int64
 28  roaming_enabled       100 non-null    int64
 29  bluetooth_enabled     100 non-null    int64
 30  location_enabled      100 non-null    int64
 31  power_saver_enabled   100 non-null    int64
 32  nfc_enabled           100 non-null    int64
 33  developer_mode        100 non-null    int64
 34  free                  100 non-null    int64
 35  total                 100 non-null    int64
 36  free_system           100 non-null    int64
 37  total_system          100 non-null    int64
dtypes: datetime64[ns](1), float64(4), int64(22), object(11)
memory usage: 29.8+ KB

In [8]:
df.describe(include=[np.number])

,id,device_id,battery_level,memory_active,memory_inactive,memory_free,memory_user,voltage,temperature,usage,...,roaming_enabled,bluetooth_enabled,location_enabled,power_saver_enabled,nfc_enabled,developer_mode,free,total,free_system,total_system
count,100.000000,100.000000,100.000000,1.000000e+02,100.000000,1.000000e+02,100.000000,100.000000,100.00000,100.000000,...,100.0,100.0,100.000000,100.0,100.000000,100.0,100.000000,100.000000,100.000000,100.000000
mean,50.500000,1.870000,71.380000,6.753474e+05,483018.360000,1.574720e+06,65265.840000,4.119500,28.77100,0.320900,...,0.0,0.0,0.710000,0.0,0.290000,0.0,4098.300000,10567.510000,460.100000,2699.510000
std,29.011492,1.368144,31.909208,2.883390e+05,46542.844283,2.086183e+05,11685.824609,0.181578,4.09235,2.246707,...,0.0,0.0,0.456048,0.0,0.456048,0.0,332.706001,1468.018581,278.189293,1085.850339
min,1.000000,1.000000,5.000000,4.161320e+05,401032.000000,1.442060e+06,46156.000000,3.790000,21.40000,-21.430000,...,0.0,0.0,0.000000,0.0,0.000000,0.0,3789.000000,9634.000000,27.000000,1009.000000
25%,25.750000,1.000000,40.750000,4.913160e+05,417181.000000,1.442060e+06,58796.000000,3.930000,27.30000,0.030000,...,0.0,0.0,0.000000,0.0,0.000000,0.0,3919.000000,9634.000000,27.000000,1009.000000
50%,50.500000,1.000000,88.000000,5.039200e+05,504364.000000,1.442060e+06,62174.000000,4.175000,27.70000,0.695000,...,0.0,0.0,1.000000,0.0,0.000000,0.0,3921.000000,9634.000000,637.000000,3390.000000
75%,75.250000,4.000000,94.000000,1.111631e+06,515056.000000,1.899508e+06,67296.000000,4.290000,32.02500,0.875000,...,0.0,0.0,1.000000,0.0,1.000000,0.0,4611.000000,12853.000000,637.000000,3390.000000
max,100.000000,4.000000,100.000000,1.141176e+06,545980.000000,1.899508e+06,117900.000000,4.320000,37.20000,2.210000,...,0.0,0.0,1.000000,0.0,1.000000,0.0,4611.000000,12853.000000,637.000000,3390.000000

In [9]:
df.describe(exclude=[np.number])

,timestamp,battery_state,timezone,country_code,charger,health,network_status,network_type,mobile_network_type,mobile_data_status,mobile_data_activity,wifi_status
count,100,100,100,100,100,100,100,100,100,100,100,100
unique,98,3,2,2,2,1,3,3,1,2,3,1
top,2017-10-08 12:50:04,Charging,America/Chicago,us,ac,Good,lte,MOBILE,lte,disconnected,none,enabled
freq,2,74,71,71,76,100,36,36,100,64,57,100
first,2017-10-08 12:50:04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
last,2017-10-09 03:51:20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
df.sample(10, random_state=0)

,id,device_id,timestamp,battery_state,battery_level,timezone,country_code,memory_active,memory_inactive,memory_free,...,roaming_enabled,bluetooth_enabled,location_enabled,power_saver_enabled,nfc_enabled,developer_mode,free,total,free_system,total_system
26,27,1,2017-10-09 03:32:07,Charging,92.0,America/Chicago,us,515912,492896,1442060,...,0,0,1,0,0,0,3789,9634,637,3390
86,87,4,2017-10-08 20:41:32,Charging,23.0,Atlantic/Madeira,pt,1138884,415404,1899508,...,0,0,0,0,1,0,4611,12853,27,1009
2,3,1,2017-10-08 12:55:15,Discharging,81.0,America/Chicago,us,500276,501200,1442060,...,0,0,1,0,0,0,3922,9634,637,3390
55,56,1,2017-10-08 16:40:32,Charging,92.0,America/Chicago,us,485352,498540,1442060,...,0,0,1,0,0,0,3917,9634,637,3390
75,76,4,2017-10-08 20:21:42,Charging,9.0,Atlantic/Madeira,pt,1112576,415600,1899508,...,0,0,0,0,1,0,4611,12853,27,1009
93,94,4,2017-10-08 20:59:59,Charging,36.0,Atlantic/Madeira,pt,1132436,407380,1899508,...,0,0,0,0,1,0,4611,12853,27,1009
16,17,1,2017-10-08 13:37:00,Charging,92.0,America/Chicago,us,506832,501396,1442060,...,0,0,1,0,0,0,3921,9634,637,3390
73,74,4,2017-10-08 20:19:57,Charging,7.0,Atlantic/Madeira,pt,1110596,415372,1899508,...,0,0,0,0,1,0,4611,12853,27,1009
54,55,1,2017-10-08 16:36:24,Charging,91.0,America/Chicago,us,474960,510160,1442060,...,0,0,1,0,0,0,3918,9634,637,3390
95,96,4,2017-10-08 21:06:29,Charging,40.0,Atlantic/Madeira,pt,1134200,408072,1899508,...,0,0,0,0,1,0,4611,12853,27,1009

## Basic data pre-processing

In [11]:
def save_df_page(page, chunks, collection, exclude=['id']):
    # concatenate data chunks -> careful benchmark this
    df = pd.concat(chunks, axis=0, ignore_index=True)
    
    collection.update_one({}, {'$inc': {'nrows': df.shape[0]}})

    # store page metadata in mongo
    update_page_metadata(collection, df)

    # save output to a parquet file with brotli compression
    df.to_parquet(os.path.join(model_storage, '{}.{}.parquet'.format(
        model, page)), compression='brotli', index=False)
    
    del df

    return page + 1

In [12]:
# projected memory usage for all samples loaded
round(memory_usage(df) * 5000000 / df.shape[0], 2)

4500.0

In [13]:
mappings = {'id': 'uint32', 'device_id': 'uint32', 'battery_level': 'uint8', 'memory_active': 'uint32',
            'memory_inactive': 'uint32', 'memory_free': 'uint32', 'memory_user': 'uint32', 'usage': 'uint8',
            'screen_on': 'bool', 'wifi_signal_strength': 'int16', 'wifi_link_speed': 'int16',
            'screen_brightness': 'int16', 'roaming_enabled': 'bool', 'bluetooth_enabled': 'bool',
            'location_enabled': 'bool', 'power_saver_enabled': 'bool', 'nfc_enabled': 'bool',
            'developer_mode': 'bool', 'free': 'uint32', 'total': 'uint32', 'free_system': 'uint32',
            'total_system': 'uint32', 'wifi_enabled': 'bool', 'mobile_enabled': 'bool', 'wifi_active': 'bool',
            'mobile_active': 'bool'}

model_metadata.update_one({}, {'$set': {'mappings': mappings}})

In [14]:
settings_columns = ['screen_on', 'roaming_enabled', 'bluetooth_enabled', 'location_enabled',
                    'power_saver_enabled', 'nfc_enabled', 'developer_mode', 'wifi_enabled',
                    'mobile_enabled', 'wifi_active', 'mobile_active']

# left to right binary representation
int16_repr = lambda x: x.dot(1 << np.arange(x.shape[-1])).astype(np.uint16)

In [15]:
total_rows = 0
total_memory_usage = 0.0
memory_usage_split = 0.0
last_id = 0

page = 0
chunks = []

features = df.columns.to_list()
features = list(filter(lambda x: x not in ['country_code'], features))

string_columns = df[features].select_dtypes(include='object').columns.to_list()

exclude_columns = ['network_status', 'network_type', 'mobile_network_type',
                  'mobile_data_status', 'mobile_data_activity', 'wifi_status']

category_columns = list(set(string_columns) - set(exclude_columns))

In [16]:
print('Total csv files: {}'.format(len(csv_files)))

Total csv files: 165

In [17]:
for filepath in csv_files:
    df = pd.read_csv(filepath, sep=';', usecols=features,
                     parse_dates=['timestamp'])

    # drop missing values
    df = df.dropna()

    # process features which can drop values first
    df = df[df['timestamp'].between(pd.Timestamp(
        2017, 9, 1), pd.Timestamp(2020, 8, 1))]

    # battery level
    df = df[df['battery_level'] <= 100]

    # temperature
    lower, upper = df['temperature'].quantile([0.01, 0.99])
    df = df[df['temperature'].between(lower, upper)]

    # voltage
    df.loc[df['voltage'] > 1000, 'voltage'] = df['voltage'] / 1000

    # cpu usage
    df.loc[:, 'usage'] = abs(df['usage']) * 100
    df.loc[df['usage'] > 100, 'usage'] = df['usage'] / 100
    df = df.drop(df[df['usage'] > 100].index, axis=0)

    # basic string pre-processing: convert to lowercase and strip blank chars
    for column in string_columns:
        df.loc[:, column] = [x.lower().strip() for x in df[column].tolist()]

    df['wifi_enabled'] = 0
    df.loc[df['wifi_status'].isin(
        ['enabled', 'enabling']), 'wifi_enabled'] = 1

    df['mobile_enabled'] = 0
    df.loc[df['network_type'].str.startswith(
        'mobile'), 'mobile_enabled'] = 1

    df['wifi_active'] = 0
    df.loc[(df['network_status'] == 'wifi') | (
        df['network_type'].str.startswith('wifi')), 'wifi_active'] = 1

    df['mobile_active'] = 0
    df.loc[df['mobile_enabled'] & (df['network_status'] != 'disconnected') & (
        df['mobile_data_status'].isin(['connecting', 'connected'])), 'mobile_active'] = 1

    df = df.drop(exclude_columns, axis=1)

    df['profile'] = int16_repr(df[settings_columns].values)
    
    df[category_columns] = df[category_columns].astype('category')
    df = df.astype(mappings)

    total_rows += df.shape[0]
    page_memory_usage = memory_usage(df)
    total_memory_usage += page_memory_usage
    memory_usage_split += page_memory_usage

    last_id = max(last_id, df['id'].max())

    chunks.append(df)

    if memory_usage_split >= config['MEMORY_USAGE_SPLIT']:
        print('Page {} created!'.format(page))
        page = save_df_page(page, chunks, model_metadata)

        del chunks[:]
        del chunks
        gc.collect()

        chunks = []
        memory_usage_split = 0.0

    print('{} ✔'.format(filepath))

../../data/raw/samples/samples.query.1.csv ✔
../../data/raw/samples/samples.query.2.csv ✔
../../data/raw/samples/samples.query.3.csv ✔
Page 0 created!
../../data/raw/samples/samples.query.4.csv ✔
../../data/raw/samples/samples.query.5.csv ✔
../../data/raw/samples/samples.query.6.csv ✔
../../data/raw/samples/samples.query.7.csv ✔
Page 1 created!
../../data/raw/samples/samples.query.8.csv ✔
../../data/raw/samples/samples.query.9.csv ✔
../../data/raw/samples/samples.query.10.csv ✔
../../data/raw/samples/samples.query.11.csv ✔
Page 2 created!
../../data/raw/samples/samples.query.12.csv ✔
../../data/raw/samples/samples.query.13.csv ✔
../../data/raw/samples/samples.query.14.csv ✔
../../data/raw/samples/samples.query.15.csv ✔
Page 3 created!
../../data/raw/samples/samples.query.16.csv ✔
../../data/raw/samples/samples.query.17.csv ✔
../../data/raw/samples/samples.query.18.csv ✔
../../data/raw/samples/samples.query.19.csv ✔
Page 4 created!
../../data/raw/samples/samples.query.20.csv ✔
../../data/raw/samples/samples.query.21.csv ✔
../../data/raw/samples/samples.query.22.csv ✔
../../data/raw/samples/samples.query.23.csv ✔
Page 5 created!
../../data/raw/samples/samples.query.24.csv ✔
../../data/raw/samples/samples.query.25.csv ✔
../../data/raw/samples/samples.query.26.csv ✔
../../data/raw/samples/samples.query.27.csv ✔
Page 6 created!
../../data/raw/samples/samples.query.28.csv ✔
../../data/raw/samples/samples.query.29.csv ✔
../../data/raw/samples/samples.query.30.csv ✔
../../data/raw/samples/samples.query.31.csv ✔
Page 7 created!
../../data/raw/samples/samples.query.32.csv ✔
../../data/raw/samples/samples.query.33.csv ✔
../../data/raw/samples/samples.query.34.csv ✔
../../data/raw/samples/samples.query.35.csv ✔
Page 8 created!
../../data/raw/samples/samples.query.36.csv ✔
../../data/raw/samples/samples.query.37.csv ✔
../../data/raw/samples/samples.query.38.csv ✔
../../data/raw/samples/samples.query.39.csv ✔
Page 9 created!
../../data/raw/samples/samples.query.40.csv ✔
../../data/raw/samples/samples.query.41.csv ✔
../../data/raw/samples/samples.query.42.csv ✔
../../data/raw/samples/samples.query.43.csv ✔
Page 10 created!
../../data/raw/samples/samples.query.44.csv ✔
../../data/raw/samples/samples.query.45.csv ✔
../../data/raw/samples/samples.query.46.csv ✔
../../data/raw/samples/samples.query.47.csv ✔
Page 11 created!
../../data/raw/samples/samples.query.48.csv ✔
../../data/raw/samples/samples.query.49.csv ✔
../../data/raw/samples/samples.query.50.csv ✔
../../data/raw/samples/samples.query.51.csv ✔
Page 12 created!
../../data/raw/samples/samples.query.52.csv ✔
../../data/raw/samples/samples.query.53.csv ✔
../../data/raw/samples/samples.query.54.csv ✔
../../data/raw/samples/samples.query.55.csv ✔
Page 13 created!
../../data/raw/samples/samples.query.56.csv ✔
../../data/raw/samples/samples.query.57.csv ✔
../../data/raw/samples/samples.query.58.csv ✔
../../data/raw/samples/samples.query.59.csv ✔
Page 14 created!
../../data/raw/samples/samples.query.60.csv ✔
../../data/raw/samples/samples.query.61.csv ✔
../../data/raw/samples/samples.query.62.csv ✔
../../data/raw/samples/samples.query.63.csv ✔
Page 15 created!
../../data/raw/samples/samples.query.64.csv ✔
../../data/raw/samples/samples.query.65.csv ✔
../../data/raw/samples/samples.query.66.csv ✔
../../data/raw/samples/samples.query.67.csv ✔
Page 16 created!
../../data/raw/samples/samples.query.68.csv ✔
../../data/raw/samples/samples.query.69.csv ✔
../../data/raw/samples/samples.query.70.csv ✔
../../data/raw/samples/samples.query.71.csv ✔
Page 17 created!
../../data/raw/samples/samples.query.72.csv ✔
../../data/raw/samples/samples.query.73.csv ✔
../../data/raw/samples/samples.query.74.csv ✔
../../data/raw/samples/samples.query.75.csv ✔
Page 18 created!
../../data/raw/samples/samples.query.76.csv ✔
../../data/raw/samples/samples.query.77.csv ✔
../../data/raw/samples/samples.query.78.csv ✔
../../data/raw/samples/samples.query.79.csv ✔
Page 19 created!
../../data/raw/samples/samples.query.80.csv ✔
../../data/raw/samples/samples.query.81.csv ✔
../../data/raw/samples/samples.query.82.csv ✔
../../data/raw/samples/samples.query.83.csv ✔
Page 20 created!
../../data/raw/samples/samples.query.84.csv ✔
../../data/raw/samples/samples.query.85.csv ✔
../../data/raw/samples/samples.query.86.csv ✔
../../data/raw/samples/samples.query.87.csv ✔
Page 21 created!
../../data/raw/samples/samples.query.88.csv ✔
../../data/raw/samples/samples.query.89.csv ✔
../../data/raw/samples/samples.query.90.csv ✔
../../data/raw/samples/samples.query.91.csv ✔
Page 22 created!
../../data/raw/samples/samples.query.92.csv ✔
../../data/raw/samples/samples.query.93.csv ✔
../../data/raw/samples/samples.query.94.csv ✔
../../data/raw/samples/samples.query.95.csv ✔
Page 23 created!
../../data/raw/samples/samples.query.96.csv ✔
../../data/raw/samples/samples.query.97.csv ✔
../../data/raw/samples/samples.query.98.csv ✔
../../data/raw/samples/samples.query.99.csv ✔
Page 24 created!
../../data/raw/samples/samples.query.100.csv ✔
../../data/raw/samples/samples.query.101.csv ✔
../../data/raw/samples/samples.query.102.csv ✔
../../data/raw/samples/samples.query.103.csv ✔
Page 25 created!
../../data/raw/samples/samples.query.104.csv ✔
../../data/raw/samples/samples.query.105.csv ✔
../../data/raw/samples/samples.query.106.csv ✔
../../data/raw/samples/samples.query.107.csv ✔
Page 26 created!
../../data/raw/samples/samples.query.108.csv ✔
../../data/raw/samples/samples.query.109.csv ✔
../../data/raw/samples/samples.query.110.csv ✔
../../data/raw/samples/samples.query.111.csv ✔
Page 27 created!
../../data/raw/samples/samples.query.112.csv ✔
../../data/raw/samples/samples.query.113.csv ✔
../../data/raw/samples/samples.query.114.csv ✔
../../data/raw/samples/samples.query.115.csv ✔
Page 28 created!
../../data/raw/samples/samples.query.116.csv ✔
../../data/raw/samples/samples.query.117.csv ✔
../../data/raw/samples/samples.query.118.csv ✔
../../data/raw/samples/samples.query.119.csv ✔
Page 29 created!
../../data/raw/samples/samples.query.120.csv ✔
../../data/raw/samples/samples.query.121.csv ✔
../../data/raw/samples/samples.query.122.csv ✔
../../data/raw/samples/samples.query.123.csv ✔
Page 30 created!
../../data/raw/samples/samples.query.124.csv ✔
../../data/raw/samples/samples.query.125.csv ✔
../../data/raw/samples/samples.query.126.csv ✔
../../data/raw/samples/samples.query.127.csv ✔
Page 31 created!
../../data/raw/samples/samples.query.128.csv ✔
../../data/raw/samples/samples.query.129.csv ✔
../../data/raw/samples/samples.query.130.csv ✔
../../data/raw/samples/samples.query.131.csv ✔
Page 32 created!
../../data/raw/samples/samples.query.132.csv ✔
../../data/raw/samples/samples.query.133.csv ✔
../../data/raw/samples/samples.query.134.csv ✔
../../data/raw/samples/samples.query.135.csv ✔
Page 33 created!
../../data/raw/samples/samples.query.136.csv ✔
../../data/raw/samples/samples.query.137.csv ✔
../../data/raw/samples/samples.query.138.csv ✔
../../data/raw/samples/samples.query.139.csv ✔
Page 34 created!
../../data/raw/samples/samples.query.140.csv ✔
../../data/raw/samples/samples.query.141.csv ✔
../../data/raw/samples/samples.query.142.csv ✔
../../data/raw/samples/samples.query.143.csv ✔
Page 35 created!
../../data/raw/samples/samples.query.144.csv ✔
../../data/raw/samples/samples.query.145.csv ✔
../../data/raw/samples/samples.query.146.csv ✔
../../data/raw/samples/samples.query.147.csv ✔
Page 36 created!
../../data/raw/samples/samples.query.148.csv ✔
../../data/raw/samples/samples.query.149.csv ✔
../../data/raw/samples/samples.query.150.csv ✔
../../data/raw/samples/samples.query.151.csv ✔
Page 37 created!
../../data/raw/samples/samples.query.152.csv ✔
../../data/raw/samples/samples.query.153.csv ✔
../../data/raw/samples/samples.query.154.csv ✔
../../data/raw/samples/samples.query.155.csv ✔
../../data/raw/samples/samples.query.156.csv ✔
Page 38 created!
../../data/raw/samples/samples.query.157.csv ✔
../../data/raw/samples/samples.query.158.csv ✔
../../data/raw/samples/samples.query.159.csv ✔
../../data/raw/samples/samples.query.160.csv ✔
../../data/raw/samples/samples.query.161.csv ✔
../../data/raw/samples/samples.query.162.csv ✔
../../data/raw/samples/samples.query.163.csv ✔

Page 39 created!
../../data/raw/samples/samples.query.164.csv ✔
../../data/raw/samples/samples.query.165.csv ✔

In [18]:
if chunks:
    save_df_page(page, chunks, model_metadata)
    del chunks[:]
    del chunks
    gc.collect()

In [19]:
model_metadata.update_one({}, {'$set': {'last_id': int(last_id)}})
model_metadata.update_one({}, {'$set': {'total': total_rows}})

In [20]:
total_rows, total_memory_usage, last_id

(46558859, 5046.179999999999, 49490940)

In [21]:
content = '**{}** | task: data pre-processing, rows: {}, memory usage: {} MB' \
.format(model, total_rows, total_memory_usage)

requests.post(config['discord_webhook_url'], data={'content': content})